# Default settings - These are the basic configurations required for the app to run
NEXT_PUBLIC_BACKEND_URI=http://127.0.0.1:8080  # Specifies the backend server URL (localhost:8080 for local development)
NEXT_PUBLIC_DEPLOYMENT=LOCAL                   # Indicates the deployment environment (set to LOCAL for development)

# Optional settings - These are additional configurations that can be included if needed

# Google Tag Manager - Add your GTM ID if you want to enable tracking
# Empty by default; add your ID here if using GTM
NEXT_PUBLIC_GTM_ID=                           