# Default environment variables - Core settings required for the application to function

# Frontend base URL (localhost:3000 - incase you are on WSL use localhost instead of 127.0.0.1)
BASE_URL_FRONTEND=http://localhost:3000
# Deployment environment (LOCAL for development, could be PROD, etc.)
DEPLOYMENT=LOCAL

# Name of the MongoDB database (e.g., 'pentestcopilot')
MONGO_DATABASE=pentestcopilot

# MongoDB connection string (local MongoDB instance)
MONGO_URI=mongodb://mongodb:27017/pentestcopilot
# Session lifetime in milliseconds (1000ms = 1 second)
SESS_LIFETIME=1000

# Redis
REDIS_URL=redis://redis:6379

# Session cookie name (short for "session ID")
SESS_NAME=sid

# Secret key for signing session cookies (should be unique/secure in production)
SESS_SECRET=thisismysessionsecret!123

# Port the backend server runs on (8080 for local development)
PORT=8080

# OpenAI API keys - Configuration for integrating OpenAI models

# Identifier for the larger OpenAI model (e.g., GPT-4 preview), used for thinking tasks like reasoning, complex analysis, or detailed problem-solving
MODEL_LARGE=gpt-4-1106-preview
# API key for the large OpenAI model (IMPORTANT: add your key)
MODEL_API_KEY_LARGE=
# Base URL/path for the large model's API (empty; optional override for custom endpoints)
MODEL_BASE_PATH_LARGE=


# Identifier for the smaller OpenAI model (e.g., GPT-3.5 Turbo), used for summarizing tasks like condensing text or generating concise outputs
MODEL_SMALL=gpt-3.5-turbo-1106
# API key for the small OpenAI model (IMPORTANT: add your key)
MODEL_API_KEY_SMALL=
# Base URL/path for the small model's API (empty; optional override for custom endpoints)
MODEL_BASE_PATH_SMALL=

# Exploit box configurations

SSH_HOST=kali # incase using outside docker orchestration change to localhost
SSH_PORT=22  # incase using outside docker orchestration change to 4242
SSH_USERNAME=root

# use either SSH_PASSWORD or SSH_PRIVATE_KEY + SSH_PRIVATE_KEY_PASSPHRASE
SSH_PASSWORD=''
# OR
SSH_PRIVATE_KEY='/path/to/private/key'
SSH_PRIVATE_KEY_PASSPHRASE=