@import "../variables";

.profileContainer {
  padding: 2rem 3rem;

  .header {
    .title {
      font-size: nth($fontSize, 7);
      font-weight: 700;
      color: var(--primary-text);
    }

    .subtitle {
      margin-top: 0.5rem;
      font-weight: 400;
      font-size: nth($fontSize, 3);
      color: var(--secondary-text);
    }
  }

  .profileDetails {
    margin: 2rem;
    padding: 2rem 0;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    max-width: 40rem;

    .profilePicture {
      cursor: pointer;
      width: max-content;
      position: relative;
      border-radius: 50%;
      border: 1px solid var(--border-color);
    }

    :global {
      .ant-form-item-label label {
        color: var(--primary-text);
      }

      .ant-input {
        background-color: transparent;
        color: var(--primary-text);
        height: 2.5rem;
      }

      .ant-input::placeholder {
        color: var(--secondary-text-500);
      }

      .anticon-camera {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--primary-text);
        border-radius: 50%;
        padding: 0.5rem;
        font-size: nth($fontSize, 3);
      }
    }
  }

  hr {
    margin: 2rem 0 1rem;
    border-width: 0.5px;
    border-color: var(--border-color);
  }
}
