@import "../_variables";

.footerContainer {
  @media only screen and (min-width: 1600px) {
    border-top: 1px solid var(--table-bg);
  }
  position: relative;
  z-index: 1;

  .footerContent {
    padding: 2.5rem 5rem;
    position: relative;
    background-color: var(--cli-bg);

    .footerText {
      margin: 1rem 0;
      font-weight: 600;
      max-width: 30rem;
      line-height: 1.5;
      color: var(--secondary-text);
      font-size: nth($fontSize, 2);

   
    }

    .footerMailLink {

      a {
        color: var(--secondary-text);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0.5px;
      background-image: linear-gradient(
        270deg,
        rgba(#fff, 0) 2%,
        rgba(#fff, 0.6) 42%,
        rgba(#fff, 0.6) 58%,
        rgba(#fff, 0) 98%
      );
    }

    .newsLetter {
      p {
        color: var(--primary-text);
        font-size: nth($fontSize, 3);
        font-weight: 600;
        padding-top: 1rem;
      }

      .successMessage {
        padding-top: 0;
        font-size: 0.8rem;
        color: var(--secondary-text);
      }

      :global {
        .ant-form {
          .ant-form-item {
            margin-bottom: 0.6rem;
          }
          .ant-input-affix-wrapper {
            background-color: transparent;
            width: 264px;
            height: 38px;

            border-radius: 6px;
            border: 1px solid var(--secondary-text);
          }
          .ant-input {
            background: var(--cli-bg) !important;
            color: var(--primary-text) !important;
            &::placeholder {
              color: var(--secondary-text);
            }
          }

          .ant-input-suffix {
            color: var(--secondary-text);
          }
        }
      }
    }

    .footerHeading {
      margin-bottom: 1rem;
      color: var(--primary-grey);
      font-size: nth($fontSize, 4);

      font-weight: 600;
    }

    .footerList {
      gap: 0.75rem;
      display: flex;
      flex-direction: column;

      .footerLink {
        font-weight: 500;
        color: var(--primary-text);
        font-size: nth($fontSize, 3);
      }
    }
  }

  .footerBottom {
    display: flex;
    position: relative;
    padding: 1rem 5rem;
    gap: 1rem;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: var(--cli-bg);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0.5px;
      background-image: linear-gradient(
        270deg,
        rgba(#fff, 0) 2%,
        rgba(#fff, 0.6) 42%,
        rgba(#fff, 0.6) 58%,
        rgba(#fff, 0) 98%
      );
    }

    p {
      margin-bottom: 0;
      font-weight: 600;
      font-size: nth($fontSize, 2);
      color: var(--secondary-text);
    }

    .socialIcons {
      gap: 1rem;
      display: flex;

      .socialIconLink {
        color: var(--primary-text);
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }
}

.helperEmailContainer {
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--filled-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  .mailIcon {
    color: var(--primary-text);
    font-size: 1.3rem;
  }
}
