@import "../_variables";

.modalContainer {
  // border: 1px solid var(--border-color-100);
  border-radius: 16px;
  background: var(--secondary-bg);

  :global {
    .anticon {
      color: var(--primary-text);
    }
    .ant-modal-content {
      background: var(--primary-bg);
      border-radius: 16px;
      padding: 2rem;
    }

    .ant-modal-body {
      color: var(--secondary-text);
      border-radius: 1rem;
      border-radius: 16px;
    }

    .ant-modal-footer {
      display: none;
    }
    .ant-modal-close-x {
      display: none;
    }

    .ant-form-item-control-input-content {
      textarea {
        background: var(--input-bg) !important;
        border: 0.1px solid var(--border-color-100);
        color: var(--primary-text) !important;
        background-color: var(--input-bg);
        border-radius: 4px;
        padding: 0.8rem 1rem;

        &::placeholder {
          color: var(--secondary-text-500);
        }
      }
    }
  }
  .headingController {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .headingtextController {
      display: flex;
      flex-direction: row;
      h1 {
        color: var(--primary-text);
        margin: 0;
        letter-spacing: 0.8px;
        font-weight: 600;
      }

      h2 {
        color: var(--secondary-text);
        font-size: nth($fontSize, 3);
        padding: 0;
        font-weight: 400;
        letter-spacing: 0.6px;
      }
    }
  }
}
